<div class="auth-views-container">
   <div class="d-lg-flex half">
      <div class="bg order-1 order-md-2" style="background-image: url('assets/kingdomplaystudios.jpg');"></div>
      <div class="contents order-2 order-md-1">
         <div class="container">
            <div class="row align-items-center justify-content-center">
               <div class="col-md-7">
                  <div class="mb-4">
                     <h3>Sign In</h3>
                     <p class="mb-4">Welcome to Alfem playstuidos basic sign in.</p>
                  </div>
                  <form [formGroup]="form" (ngSubmit)="login()">
                     <app-text-input label="Email" placeholder="test@email.com" id="Email" type="text" [control]="form.get('email')"></app-text-input>
                     <app-text-input label="Password" placeholder="********" id="Password" type="password" [control]="form.get('password')"></app-text-input>
                     <div class="d-flex mb-5 align-items-center">
                        <span class="ml-auto"><a href="javascript:void(0)" (click)="navigateRequestPassword()" class="forgot-pass">Forgot Password</a></span>
                     </div>
                     <input type="submit" value="Log In" class="btn btn-block btn-primary">
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>