/* You can add global styles to this file, and also import other style files */
.auth-views-container{

    body {
        font-family: "Roboto", sans-serif;
        background-color: #fff;
    }
    
    a {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }
    
    a:hover {
        text-decoration: none !important;
    }
    
    .content {
        padding: 7rem 0;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .half,
    .half .container>.row {
        height: 100vh;
    }
    
    @media (max-width: 991.98px) {
        .half .bg {
            height: 500px;
        }
    }
    
    .half .contents,
    .half .bg {
        width: 50%;
    }
    
    @media (max-width: 1199.98px) {
    
        .half .contents,
        .half .bg {
            width: 100%;
        }
    }
    
    .half .bg {
        background-size: cover;
        background-position: center;
    }
    
    .half a {
        color: #888;
        text-decoration: underline;
    }
    
    .half .btn {
        height: 54px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .half .forgot-pass {
        position: relative;
        top: 2px;
        font-size: 14px;
    }
}
